//*************************
//** COLORS
//************************

// Colors
$black: #222222;
$blackish: #444444;
$grayer:  #666666;
$gray: #999999;
$gray-light: #CCCCCC;
$whitish: #F6F6F6;
$white: #FFFFFF;

// Mass white
$mass-white: #FFFFFF;

// Primary colors
$primary-light: #ff9900;
$primary: #232f3e;
$primary-dark: #545b64;

//Warning colors
$red-light: #FEF9F9;
$red: #CC0000;

//Card color
$card: #879596;
$card-hover: #00a1c9;
$card-dark: #1e8900;

$green-japanese-laurel: #1e8900;
$green-olive: #6aaf35;
$red-amaranth: #df3312;
$purple-eggplant: #007dbc;
$yellow-pear: #eb5f07;

$tribe-primary: #107a8a;
$tribe-secondary: darken($tribe-primary, 10%);

$top-icon-color: $white;
$dropdown-color: rgba(darken($primary-dark, 20%), 1);
$code-bg: #272822;

/* Overwrite mixins */

@mixin triangled-bg {
    background: url('https://lh4.googleusercontent.com/-k7YewfrSQ_Q/VGdNZND0NBI/AAAAAAAAD1A/UDZBeSGR7iM/w1465-h824-no/Ultimate%2BMaterial%2BLollipop%2BCollection%2B-%2B480') no-repeat center center;
    background-size: cover;
}

@mixin background-taiga {
    background: url('https://lh6.googleusercontent.com/-2l_mJ5g6j4k/VGdNZCpaERI/AAAAAAAAD2o/zCx5Z3cYv6Y/w1465-h824-no/Ultimate%2BMaterial%2BLollipop%2BCollection%2B-%2B497') no-repeat center center;
    background-size: cover;
}
